<div class="page" style="text-align: center;
"><h1>Welcome to image resizing  api</h1>
    <p>Examples Of Image exists:<ul style="list-style: none;">
   <li><p><a href="/api/processing-image?filename=loin1">

   /api/processing-image?filename=loin1</a></p>
   </li><li><p><a href="/api/processing-image?filename=loin1&width=250&height=250">
   /api/processing-image?filename=loin1&width=250&height=250</a><p></li></ul></p>
   
   <p>name of images that exists </p>
   
   <ul>

 loin1 - lion2
   </ul>
   </div>